.awards {
  padding-bottom: 80px;
  min-height: 100vh;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/awards-background.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/awards-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/awards-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .awards hr {
    width: 10em; }
  .awards .awards-row {
    margin-top: 60px; }
    .awards .awards-row img {
      margin-top: 30px;
      width: 260px; }
    .awards .awards-row .points {
      width: 220px; }
    .awards .awards-row .alcohol-afficionado {
      width: 240px; }
    .awards .awards-row .review-of-spirits {
      width: 230px;
      height: 240px; }
  .awards .awards-row-2 {
    padding: 0 180px; }
    .awards .awards-row-2 .image-container {
      margin-top: -100px; }
  .awards .button-container {
    margin-top: -60px; }

@media (max-width: 992px) {
  .awards {
    background-attachment: scroll; }
    .awards .awards-row-2 {
      padding: 0 130px; } }
@media (max-width: 922px) {
  .awards .awards-row img {
    width: 230px; } }
@media (min-width: 768px) {
  .awards .awards-row img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); } }
@media (max-width: 767px) {
  .awards .awards-row {
    margin-top: 0;
    margin-bottom: 80px; }
    .awards .awards-row img {
      width: 270px;
      margin-top: 40px; }
  .awards .awards-row-2 {
    padding: 0; }
  .awards .button-container {
    margin-top: -10px; } }
@media (max-width: 440px) {
  .awards .button {
    width: 300px;
    padding: 15px 10px; } }
@media (max-width: 400px) {
  .awards .button {
    font-size: 10px;
    padding: 10px 3px; } }
@media (min-width: 1200px) and (min-height: 1050px) {
  .awards .awards-row {
    padding: 0 200px;
    margin-top: 100px; }
    .awards .awards-row img {
      width: 300px; } }
@media (min-width: 1200px) and (min-height: 1200px) {
  .awards .awards-row {
    padding: 0 300px;
    margin-top: 200px; }
    .awards .awards-row img {
      width: 350px; } }
@media (min-width: 1200px) and (min-height: 1300px) {
  .awards {
    min-height: 0; } }
@media (width: 1024px) and (height: 1366px) {
  .awards {
    min-height: 0; } }
@media (width: 768px) and (height: 1024px) {
  .awards {
    min-height: 0; } }
@media (min-width: 1600px) and (min-height: 1050px) {
  .awards .awards-row img {
    width: 300px; }
  .awards .awards-row .points {
    width: 260px; }
  .awards .awards-row .alcohol-afficionado {
    width: 280px; }
  .awards .awards-row .review-of-spirits {
    width: 270px;
    height: 280px; }
  .awards .awards-row-2 {
    padding: 0 400px; } }
@media (min-width: 2600px) and (min-height: 1400px) {
  .awards .awards-row img {
    width: 350px; }
  .awards .awards-row .points {
    width: 310px; }
  .awards .awards-row .alcohol-afficionado {
    width: 320px; }
  .awards .awards-row .review-of-spirits {
    width: 320px;
    height: 330px; } }

/*# sourceMappingURL=awards.css.map */
