.cocktails {
  min-height: 100vh;
  padding-bottom: 80px;
  text-align: center; }
  .cocktails hr {
    width: 12em;
    margin-bottom: 20px; }
  .cocktails .cocktail-pic-1,
  .cocktails .cocktail-pic-2,
  .cocktails .cocktail-pic-3,
  .cocktails .cocktail-pic-4,
  .cocktails .cocktail-pic-5,
  .cocktails .cocktail-pic-6,
  .cocktails .cocktail-pic-7,
  .cocktails .cocktail-pic-8,
  .cocktails .cocktail-pic-9,
  .cocktails .cocktail-pic-10 {
    height: 150px;
    width: 150px;
    background-size: cover;
    margin: 20px auto;
    cursor: pointer; }
    .cocktails .cocktail-pic-1 .image-overlay,
    .cocktails .cocktail-pic-2 .image-overlay,
    .cocktails .cocktail-pic-3 .image-overlay,
    .cocktails .cocktail-pic-4 .image-overlay,
    .cocktails .cocktail-pic-5 .image-overlay,
    .cocktails .cocktail-pic-6 .image-overlay,
    .cocktails .cocktail-pic-7 .image-overlay,
    .cocktails .cocktail-pic-8 .image-overlay,
    .cocktails .cocktail-pic-9 .image-overlay,
    .cocktails .cocktail-pic-10 .image-overlay {
      opacity: 0;
      background-color: rgba(30, 179, 85, 0.8);
      color: #fff;
      width: 100%;
      height: 100%;
      padding-top: 40%;
      transition: 0.5s; }
      .cocktails .cocktail-pic-1 .image-overlay h6,
      .cocktails .cocktail-pic-2 .image-overlay h6,
      .cocktails .cocktail-pic-3 .image-overlay h6,
      .cocktails .cocktail-pic-4 .image-overlay h6,
      .cocktails .cocktail-pic-5 .image-overlay h6,
      .cocktails .cocktail-pic-6 .image-overlay h6,
      .cocktails .cocktail-pic-7 .image-overlay h6,
      .cocktails .cocktail-pic-8 .image-overlay h6,
      .cocktails .cocktail-pic-9 .image-overlay h6,
      .cocktails .cocktail-pic-10 .image-overlay h6 {
        font-size: 1.2em; }
    .cocktails .cocktail-pic-1:hover .image-overlay,
    .cocktails .cocktail-pic-2:hover .image-overlay,
    .cocktails .cocktail-pic-3:hover .image-overlay,
    .cocktails .cocktail-pic-4:hover .image-overlay,
    .cocktails .cocktail-pic-5:hover .image-overlay,
    .cocktails .cocktail-pic-6:hover .image-overlay,
    .cocktails .cocktail-pic-7:hover .image-overlay,
    .cocktails .cocktail-pic-8:hover .image-overlay,
    .cocktails .cocktail-pic-9:hover .image-overlay,
    .cocktails .cocktail-pic-10:hover .image-overlay {
      opacity: 1;
      transition: 0.5s; }
  .cocktails .cocktail-pic-3,
  .cocktails .cocktail-pic-4,
  .cocktails .cocktail-pic-5,
  .cocktails .cocktail-pic-6,
  .cocktails .cocktail-pic-7,
  .cocktails .cocktail-pic-8 {
    background-position: center; }
  .cocktails .cocktail-pic-1 {
    background-image: url("../img/cucumber-gimlet.jpg"); }
  .cocktails .cocktail-pic-2 {
    background-image: url("../img/cucumber-gin-tonic.jpg"); }
  .cocktails .cocktail-pic-3 {
    background-image: url("../img/hana-fizz.jpg"); }
  .cocktails .cocktail-pic-4 {
    background-image: url("../img/hana-gin-margarita.jpg"); }
  .cocktails .cocktail-pic-5 {
    background-image: url("../img/honey-hana.jpg"); }
  .cocktails .cocktail-pic-6 {
    background-image: url("../img/pear-thyme-gin-fizz.jpg"); }
  .cocktails .cocktail-pic-7 {
    background-image: url("../img/raspberry-bloom.jpg"); }
  .cocktails .cocktail-pic-8 {
    background-image: url("../img/white-peach-refresher.jpg"); }
  .cocktails .cocktail-row {
    width: 75%;
    margin: 20px auto 70px auto; }
  .cocktails .modal-dialog {
    width: 65%;
    border-radius: 2px;
    margin: 0 auto; }
    .cocktails .modal-dialog .modal-content {
      padding: 30px; }
      .cocktails .modal-dialog .modal-content .modal-body {
        border: 3px solid #1EB355;
        border-radius: 3px;
        padding: 10px 20px 30px 30px; }
        .cocktails .modal-dialog .modal-content .modal-body h4 {
          font-size: 30px;
          color: #D61F35;
          margin-bottom: 10px;
          font-weight: bold; }
        .cocktails .modal-dialog .modal-content .modal-body .prev-next {
          margin: 5px;
          color: #fff;
          background-color: #1EB355;
          border: 1px solid #1EB355;
          border-radius: 3px;
          padding: 5px 10px; }
        .cocktails .modal-dialog .modal-content .modal-body h5 {
          font-weight: bold;
          margin-top: 15px; }
        .cocktails .modal-dialog .modal-content .modal-body ul, .cocktails .modal-dialog .modal-content .modal-body ol {
          text-align: left;
          color: #262626;
          line-height: 1.5; }
          .cocktails .modal-dialog .modal-content .modal-body ul li, .cocktails .modal-dialog .modal-content .modal-body ol li {
            font-size: 12px; }
        .cocktails .modal-dialog .modal-content .modal-body img {
          width: 80%;
          margin-top: 30px; }
        .cocktails .modal-dialog .modal-content .modal-body .logo {
          max-width: 150px;
          margin-top: 20px; }

@media (max-width: 1247px) {
  .cocktails .cocktail-row {
    width: 85%; } }
@media (max-width: 1080px) {
  .cocktails .cocktail-row {
    width: 100%; }
  .cocktails .cocktail-pic-1,
  .cocktails .cocktail-pic-2,
  .cocktails .cocktail-pic-3,
  .cocktails .cocktail-pic-4,
  .cocktails .cocktail-pic-5,
  .cocktails .cocktail-pic-6,
  .cocktails .cocktail-pic-7,
  .cocktails .cocktail-pic-8,
  .cocktails .cocktail-pic-9,
  .cocktails .cocktail-pic-10 {
    width: 120px;
    height: 120px; }
    .cocktails .cocktail-pic-1 .image-overlay,
    .cocktails .cocktail-pic-2 .image-overlay,
    .cocktails .cocktail-pic-3 .image-overlay,
    .cocktails .cocktail-pic-4 .image-overlay,
    .cocktails .cocktail-pic-5 .image-overlay,
    .cocktails .cocktail-pic-6 .image-overlay,
    .cocktails .cocktail-pic-7 .image-overlay,
    .cocktails .cocktail-pic-8 .image-overlay,
    .cocktails .cocktail-pic-9 .image-overlay,
    .cocktails .cocktail-pic-10 .image-overlay {
      padding-top: 35%; } }
@media (max-width: 767px) {
  .cocktails .cocktail-row {
    padding: 0; }
  .cocktails .cocktail-pic-1,
  .cocktails .cocktail-pic-2,
  .cocktails .cocktail-pic-3,
  .cocktails .cocktail-pic-4,
  .cocktails .cocktail-pic-5,
  .cocktails .cocktail-pic-6,
  .cocktails .cocktail-pic-7,
  .cocktails .cocktail-pic-8,
  .cocktails .cocktail-pic-9,
  .cocktails .cocktail-pic-10 {
    width: 180px;
    height: 180px; }
    .cocktails .cocktail-pic-1 .image-overlay,
    .cocktails .cocktail-pic-2 .image-overlay,
    .cocktails .cocktail-pic-3 .image-overlay,
    .cocktails .cocktail-pic-4 .image-overlay,
    .cocktails .cocktail-pic-5 .image-overlay,
    .cocktails .cocktail-pic-6 .image-overlay,
    .cocktails .cocktail-pic-7 .image-overlay,
    .cocktails .cocktail-pic-8 .image-overlay,
    .cocktails .cocktail-pic-9 .image-overlay,
    .cocktails .cocktail-pic-10 .image-overlay {
      padding-top: 35%; } }
@media (max-width: 435px) {
  .cocktails .cocktail-pic-1,
  .cocktails .cocktail-pic-2,
  .cocktails .cocktail-pic-3,
  .cocktails .cocktail-pic-4,
  .cocktails .cocktail-pic-5,
  .cocktails .cocktail-pic-6,
  .cocktails .cocktail-pic-7,
  .cocktails .cocktail-pic-8,
  .cocktails .cocktail-pic-9,
  .cocktails .cocktail-pic-10 {
    width: 130px;
    height: 130px; }
    .cocktails .cocktail-pic-1 .image-overlay,
    .cocktails .cocktail-pic-2 .image-overlay,
    .cocktails .cocktail-pic-3 .image-overlay,
    .cocktails .cocktail-pic-4 .image-overlay,
    .cocktails .cocktail-pic-5 .image-overlay,
    .cocktails .cocktail-pic-6 .image-overlay,
    .cocktails .cocktail-pic-7 .image-overlay,
    .cocktails .cocktail-pic-8 .image-overlay,
    .cocktails .cocktail-pic-9 .image-overlay,
    .cocktails .cocktail-pic-10 .image-overlay {
      padding-top: 35%; } }
@media (min-width: 993px) {
  .cocktails #cucumberGinTonicModal .modal-dialog .modal-content .modal-body ul li, .cocktails #cucumberGinTonicModal .modal-dialog .modal-content .modal-body ol li, .cocktails #hanaGinMargaritaModal .modal-dialog .modal-content .modal-body ul li, .cocktails #hanaGinMargaritaModal .modal-dialog .modal-content .modal-body ol li, .cocktails #honeyHanaModal .modal-dialog .modal-content .modal-body ul li, .cocktails #honeyHanaModal .modal-dialog .modal-content .modal-body ol li {
    font-size: 14px; }
  .cocktails #cucumberGinTonicModal .modal-dialog .modal-content .modal-body h5, .cocktails #hanaGinMargaritaModal .modal-dialog .modal-content .modal-body h5, .cocktails #honeyHanaModal .modal-dialog .modal-content .modal-body h5 {
    margin-top: 30px; }
  .cocktails #raspberryBloomModal .modal-dialog .modal-content .modal-body ul li, .cocktails #raspberryBloomModal .modal-dialog .modal-content .modal-body ol li, .cocktails #whitePeachModal .modal-dialog .modal-content .modal-body ul li, .cocktails #whitePeachModal .modal-dialog .modal-content .modal-body ol li {
    font-size: 11px; } }
@media (max-width: 992px) {
  .cocktails .modal-dialog {
    width: 80%; }
    .cocktails .modal-dialog .modal-content .modal-body {
      text-align: center; }
      .cocktails .modal-dialog .modal-content .modal-body img {
        width: 25%;
        margin-top: 10px; }
      .cocktails .modal-dialog .modal-content .modal-body h4 {
        font-size: 1.5em; }
      .cocktails .modal-dialog .modal-content .modal-body ul li, .cocktails .modal-dialog .modal-content .modal-body ol li {
        font-size: 10px; }
      .cocktails .modal-dialog .modal-content .modal-body h5 {
        text-align: left; } }
@media (max-width: 797px) {
  .cocktails .modal-dialog .modal-content .modal-body {
    padding: 15px; } }
@media (max-width: 710px) {
  .cocktails .modal-dialog {
    width: 90%; }
    .cocktails .modal-dialog .modal-content .modal-body img {
      width: 40%; } }
@media (max-width: 435px) {
  .cocktails .modal-dialog .modal-content {
    padding: 15px; }
    .cocktails .modal-dialog .modal-content .modal-body h4 {
      font-size: 18px; }
    .cocktails .modal-dialog .modal-content .modal-body img {
      width: 50%; }
    .cocktails .modal-dialog .modal-content .modal-body ul, .cocktails .modal-dialog .modal-content .modal-body ol {
      font-size: 0.9em; } }
@media (min-height: 1300px) {
  .cocktails {
    min-height: 0; } }

/*# sourceMappingURL=cocktails.css.map */
