@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'variables';
@import 'nav';
@import 'hero';
@import 'our-story';
@import 'our-craft';
@import 'awards';
@import 'cocktails';
@import 'location';
@import 'contact';
@import 'footer';

body {
  color: $green;

}

a {
  color: $green;
}

h2 {
  text-transform: uppercase;
}

hr {
  border-color: $red;
  border-width: 3px;
  margin-top: -8px;
}

.title {
  padding-top: 60px;
}
