body {
  color: $green;
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext', sans-serif;
  font-weight: bold;
}

.row {
  padding: 0;
  margin: 0;
}

a {
  color: $green;
  font-weight: bold;
  letter-spacing: 1px;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

hr {
  border-color: $red;
  border-width: 3px;
  margin-top: -8px;
}

.title {
  padding-top: 60px;
  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
