body {
  color: $green;
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

a {
  color: $green;
}

h2 {
  text-transform: uppercase;
}

hr {
  border-color: $red;
  border-width: 3px;
  margin-top: -8px;
}

.title {
  padding-top: 60px;
}
