@import 'variables';

.cocktails {
  min-height: 100vh;
  padding-bottom: 80px;
  text-align: center;
  hr {
    width: 12em;
    margin-bottom: 20px;
  }
  .cocktail-pic-1,
  .cocktail-pic-2,
  .cocktail-pic-3,
  .cocktail-pic-4,
  .cocktail-pic-5,
  .cocktail-pic-6,
  .cocktail-pic-7,
  .cocktail-pic-8,
  .cocktail-pic-9,
  .cocktail-pic-10 {
    height: 150px;
    width: 150px;
    background-size: cover;
    margin: 20px auto;
    cursor: pointer;
    .image-overlay {
      opacity: 0;
      background-color: rgba(30, 179, 85, 0.8);
      color: $white;
      width: 100%;
      height: 100%;
      padding-top: 40%;
      transition: 0.5s;
      h6 {
        font-size: 1.2em;
      }
    }
    &:hover {
      .image-overlay {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  .cocktail-pic-3,
  .cocktail-pic-4,
  .cocktail-pic-5,
  .cocktail-pic-6,
  .cocktail-pic-7,
  .cocktail-pic-8 {
    background-position: center;
  }
  .cocktail-pic-1 {
    background-image: url('../img/cucumber-gimlet.jpg');
  }
  .cocktail-pic-2 {
    background-image: url('../img/cucumber-gin-tonic.jpg');
  }
  .cocktail-pic-3 {
    background-image: url('../img/hana-fizz.jpg');
  }
  .cocktail-pic-4 {
    background-image: url('../img/hana-gin-margarita.jpg');
  }
  .cocktail-pic-5 {
    background-image: url('../img/honey-hana.jpg');
  }
  .cocktail-pic-6 {
    background-image: url('../img/pear-thyme-gin-fizz.jpg');
  }
  .cocktail-pic-7 {
    background-image: url('../img/raspberry-bloom.jpg');
  }
  .cocktail-pic-8 {
    background-image: url('../img/white-peach-refresher.jpg');
  }
  .cocktail-row {
    width: 75%;
    margin: 20px auto 70px auto;
  }
  // Modal
  .modal-dialog {
    width: 65%;
    border-radius: 2px;
    margin: 0 auto;
    .modal-content {
      padding: 30px;
      .modal-body {
        border: 3px solid $green;
        border-radius: 3px;
        padding: 10px 20px 30px 30px;
        h4 {
          font-size: 30px;
          color: $red;
          margin-bottom: 10px;
          font-weight: bold;
        }
        .prev-next {
          margin: 5px;
          color: $white;
          background-color: $green;
          border: 1px solid $green;
          border-radius: 3px;
          padding: 5px 10px;
        }
        h5 {
          font-weight: bold;
          margin-top: 15px;
        }
        ul, ol {
          text-align: left;
          color: $black;
          line-height: 1.5;
          li {
            font-size: 12px;;
          }
        }
        img {
          width: 80%;
          margin-top: 30px;
        }
        // .bloom {
        //   margin-top: 60px;
        // }
        // .tall {
        //   width: 50%;
        // }
        .logo {
          max-width: 150px;
          margin-top: 20px;
        }
      }
    }
  }
}

// ****************
// Media queries
// for main section
// *****************

@media (max-width: 1247px) {
  .cocktails {
    .cocktail-row {
      width: 85%;
    }
  }
}

@media (max-width: 1080px) {
  .cocktails {
    .cocktail-row {
      width: 100%;
    }
    .cocktail-pic-1,
    .cocktail-pic-2,
    .cocktail-pic-3,
    .cocktail-pic-4,
    .cocktail-pic-5,
    .cocktail-pic-6,
    .cocktail-pic-7,
    .cocktail-pic-8,
    .cocktail-pic-9,
    .cocktail-pic-10 {
      width: 120px;
      height: 120px;
      .image-overlay {
        padding-top: 35%;
      }
    }
  }
}

@media (max-width: 767px) {
  .cocktails {
    .cocktail-row {
      padding: 0;
    }
    .cocktail-pic-1,
    .cocktail-pic-2,
    .cocktail-pic-3,
    .cocktail-pic-4,
    .cocktail-pic-5,
    .cocktail-pic-6,
    .cocktail-pic-7,
    .cocktail-pic-8,
    .cocktail-pic-9,
    .cocktail-pic-10 {
      width: 180px;
      height: 180px;
      .image-overlay {
        padding-top: 35%;
      }
    }
  }
}


@media (max-width: 435px) {
  .cocktails {
    .cocktail-row {

    }
    .cocktail-pic-1,
    .cocktail-pic-2,
    .cocktail-pic-3,
    .cocktail-pic-4,
    .cocktail-pic-5,
    .cocktail-pic-6,
    .cocktail-pic-7,
    .cocktail-pic-8,
    .cocktail-pic-9,
    .cocktail-pic-10 {
      width: 130px;
      height: 130px;
      .image-overlay {
        padding-top: 35%;
      }
    }
  }
}


// ***********************
// Media queries for modal
// ***********************

@media (min-width: 993px) {
  .cocktails {
    // Modal - specific
    #cucumberGinTonicModal, #hanaGinMargaritaModal, #honeyHanaModal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            ul, ol {
              li {
                font-size: 14px;
              }
            }
            h5 {
              margin-top: 30px;
            }
          }
        }
      }
    }
    #raspberryBloomModal, #whitePeachModal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            ul, ol {
              li {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .cocktails {
    .modal-dialog {
      width: 80%;
      .modal-content {
        .modal-body {
          text-align: center;
          img {
            width: 25%;
            margin-top: 10px;
          }
          h4 {
            font-size: 1.5em;
          }
          ul, ol {
            li {
              font-size: 10px;
            }
          }
          h5 {
            text-align: left;
          }
        }
      }
    }
  }
}

@media (max-width: 797px) {
  .cocktails {
    .modal-dialog {
      .modal-content {
        .modal-body {
          padding: 15px;
        }
      }
    }
  }
}

@media (max-width: 710px) {
  .cocktails {
    .modal-dialog {
      width: 90%;
      .modal-content {
        .modal-body {
          img {
            width: 40%;
          }
        }
      }
    }
  }
}

@media (max-width: 435px) {
  .cocktails {
    .modal-dialog {
      .modal-content {
        padding: 15px;
        .modal-body {
          h4 {
            font-size: 18px;
          }
          img {
            width: 50%;
          }
          ul, ol {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}


// **************
// Height
// Media queries
// **************

@media (min-height: 1300px) {
  .cocktails {
    min-height: 0;
  }
}
