.hero {
  min-height: 85vh;
  text-align: left;
  padding: 8%;
  background-image: url('../img/hero-image-large.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  h1 {
    font-size: 5em;
    line-height: 1.7;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .button {
    padding: 10px;
    float: left;
    border: 2px solid $green;
  }
  .modal {
    text-align: center;
    .modal-body {
      padding: 20px;
      background-color: $black;
      .modal-inner {
        border: 3px solid $green;
        padding: 40px;
        img {
          max-width: 250px;
          margin-top: -60px;
        }
        h3, h5 {
          color: $white;
        }
        h3 {
          text-transform: uppercase;
          font-size: 5em;
        }
        h5 {
          font-size: 2em;
        }
        form {
          input {
            border: 3px solid $green;
            background: transparent;
            height: 60px;
            padding: 15px 5px 5px 5px;
            margin: 20px 5px 10px 5px;
            color: $red;
            font-size: 48px;
            text-align: center;
            &:focus {
              outline: none;
            }
          }

          label {
            color: $white;

          }

          input[type=checkbox] {
              position: relative;
              text-align: center;
              // -moz-appearance:none;
              // -webkit-appearance:none;
              // -o-appearance:none;
          }

          @supports (zoom:2) {
          	input[type=checkbox]{
          	zoom: 3;
            margin-top: -20px;
          	}
          }

          @supports not (zoom:2) {
          	input[type=checkbox]{
          		transform: scale(3);
          	}
          }
          label{
            /* fix vertical align issues */
          	display: inline-block;
          	vertical-align: top;
          	margin-top: 20px;
          }

          .month, .day {
            width: 100px;
          }
          .year {
            width: 150px;
          }
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $red;
            font-size: 48px;
            text-align: center;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: $red;
            font-size: 48px;
            text-align: center;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: $red;
            font-size: 48px;
            text-align: center;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: $red;
            font-size: 48px;
            text-align: center;
          }
          button {
            background-color: $green;
            border: 3px solid $green;
            color: $white;
            height: 65px;
            padding: 0 5px 5px 5px;
            color: $white;
            font-size: 48px;
            text-align: center;
            margin-left: 10px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

// *************
// Media queries
// *************

// ************
// Hero section
// ************


@media (max-width: 1099px) {
  .hero {
    padding-top: 150px;
    background-image: url('../img/hero-image-medium.png');
    h1 {
      font-size: 4em;
    }
  }
}

@media (max-width: 903px) {
  .hero {
    padding-left: 5%;
    h1 {
      font-size: 3.5em;
    }
  }
}

@media (max-width: 812px) {
  .hero {
    background-image: url('../img/hero-image-small.png');
    background-size: 100vh;
    background-position: bottom right;
  }
}

@media (max-width: 650px) {
  .hero {
    background-image: url('../img/hero-image-mobile.jpg');
    padding-top: 168px;
    background-size: 90vh;
    background-position: bottom right;
    h1 {
      font-size: 2.7em;
    }
  }
}

@media (max-width: 375px) {
  .hero {
    padding-top: 158px;
    h1 {
      font-size: 2.4em;
    }
  }
}

@media (max-width: 330px) {
  .hero {
    padding-top: 150px;
    background-size: 80vh;
    background-position: bottom right;
    h1 {
      font-size: 2.3em;
    }
  }
}

// **************
// Height
// Media queries
// **************

@media (min-height: 1300px) {
  .hero {
    min-height: 50vh;
  }
}
