.location {
  height: 100vh;
  text-align: center;
  background:
      -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background:
      -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  hr {
    width: 28em;
  }
}
