.our-story {
  text-align: center;
  min-height: 100vh;
  padding-bottom: 60px;
  background:
      -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../our-story-1.jpg");
  background:
      -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/our-story-1.jpg");
  background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/our-story-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  hr {
    width: 12em;
  }
  p {
    color: $white;
    margin: 0 auto;
    width: 45%;
    text-align: left;
    font-size: 1.5em;
    line-height: 2;
    margin-top: 50px;
    letter-spacing: 1px;
    span {
      color: $green;
      text-transform: uppercase;
    }
  }
}


// *************
// Media queries
// *************

@media (max-width: 1099px) {
  .our-story {
    p {
      width: 60%;
    }
  }
}

@media (max-width: 992px) {
  .our-story {
    background-attachment: scroll;
  }
}

@media (max-width: 767px) {
  .our-story {
    p {
      width: 75%;
      font-size: 1.4em;
    }
  }
}

@media (max-width: 535px) {
  .our-story {
    p {
      width: 85%;
      font-size: 1.3em;
      margin-top: 50px;
    }
  }
}

@media (max-width: 360px) {
  .our-story {
    p {
      width: 85%;
      font-size: 1.1em;
      margin-top: 40px;
    }
  }
}
