.our-craft {
  text-align: center;
  padding-bottom: 80px;
  hr {
    width: 35em;
  }
  .green-line {
    width: 75%;
    border-color: $green;
    border-width: 2px;
    margin-top: 30px;
  }
  ul {
    list-style: none;
    text-align: justify;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    h5 {
      color: $red;
      font-weight: bold;
    }
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
    li {
      display: inline-block;
      line-height: 100%;
      max-width: 20%;
      .circle {
        height: 40px;
        width: 40px;
        background-color: $green;
        border-radius: 50%;
      }
      p, h5 {
        text-align: center;
      }
      p {
        color: $black;
        line-height: 1.4;
      }
    }
  }
  ul:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .first-list {
    margin-top: 40px;
    width: 82%;
    img {
      margin-top: -50px;
    }
  }
  .circle-list {
    margin-top: -40px;
  }
  .final-list {
    width: 97%;
    margin-top: 20px;
    li {
      vertical-align: top;
    }
  }
}
