.our-story {
  text-align: center;
  height: 100vh;
  background:
      -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background:
      -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/filler-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  hr {
    width: 12em;
  }
  p {
    color: $white;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    font-size: 1.4em;
    line-height: 1.7;
    margin-top: 60px;
    letter-spacing: 1px;
    span {
      color: $green;
      text-transform: uppercase;
    }
  }
}
