#map-canvas, #panel {
  height: 500px;
}

#map-canvas {
  width: 90%;
  margin-left: 70px;
}

#panel {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  ul {
    list-style: none;
    li {
      color: $white;
      font-size: 18px;
      text-align: left;
      margin-top: 30px;
    }
    li::before{
       content: '';
       display: inline-block;
       width: 15px;
       height: 15px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: $red;
       margin-left: -25px;
       margin-bottom: -33px;
    }
  }
}

.storelocator-panel {
  overflow: auto;
}

.storelocator-panel .location-search input {
  width: 350px;
  height: 40px;
  background: transparent;
  border: 2px solid $red;
  border-radius: 3px;
  color: $red;
  padding-left: 8px;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    visibility: hidden;
  color: $red !important;
  }

  &:-moz-placeholder { /* Firefox 18- */
  color: $red !important;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
  color: $red !important;
  }

  &:-ms-input-placeholder {
  color: $red !important;
  }
}

input.directions-to {
  border: 2px solid $red;
  border-radius: 3px;
  background: none;
  margin-top: 15px;
  height: 30px;
  color: $red;
  padding-left: 8px;
  width: 175px;
}

.directions-panel {
  form {
    input[type="submit"] {
      margin-top: 15px;
      background-color: $green;
      border: 1px solid $green;
      color: $white;
      border-radius: 3px;
      padding: 5px 15px;
      margin-right: 5px;
    }
    .close-directions {
      margin-top: 15px;
      background-color: $green;
      border: 1px solid $green;
      height: 30px;
      color: white;
      border-radius: 3px;
      padding: 7px 10px;
      margin-left: 5px;
    }
  }
}

.adp, .adp table {
  background-color: $white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 3px;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.store {
  .title {
    padding-top: 5px;
  }
}

.store .action {
  font-size: 0.8em;
  margin-right: 0.5em;
}


// *************
// Media queries
// *************

@media (max-width: 1032px) {
  #panel {
    width: 300px;
  }
  .storelocator-panel .location-search input {
    width: 280px;
  }
}


@media (max-width: 987px) {
  #map-canvas {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #map-canvas {
    width: 60%;
    height: 400px;
  }
  #panel {
    margin-top: 40px;
  }
}

@media (max-width: 660px) {
  #map-canvas {
    width: 80%;
  }
}

@media (max-width: 540px) {
  #map-canvas {
    width: 90%;
  }
}

@media (max-width: 429px) {
  #map-canvas {
    width: 95%;
    height: 300px;
  }
}

@media (max-width: 375px) {
  #map-canvas {
    width: 98%;
    height: 290px;
  }
}

@media (max-width: 330px) {
  .store .action {
    font-size: 0.7em;
    margin-right: 0.5em;
  }
}



// **************
// Height
// Media queries
// **************

@media (min-width: 1200px) and (min-height: 1050px) {
    #map-canvas {
      width: 90%;
      height: 700px;
    }
    #panel {
      width: 600px;
      height: 700px;
    }
}

@media (min-width: 1200px) and (min-height: 1200px) {
    #map-canvas {
      width: 90%;
      height: 800px;
    }
    #panel {
      width: 700px;
      height: 800px;
    }
}

@media (min-height: 1300px) {
    #map-canvas {
      margin-top: 150px
    }
    #panel {
      margin-top: 150px;
    }
}
